.hero {
  background-color: var(--color-very-light-grey);
  position: relative;
  padding-bottom: 2em;
}

.hero__img-wrapper {
  padding: 0;
  background: url("/src/assets/images/bg-intro-mobile.svg");
  width: 100%;
  height: 300px;
}

.hero__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: bottom;
  z-index: 2;
}

.hero__content {
  margin-top: 6em;
  text-align: center;
}

.hero__title {
  color: var(--color-dark-blue);
  font-size: 2rem;
  font-weight: var(--fw-400);
  line-height: 1.2em;
}

.hero__info {
  font-size: 0.7em;
  margin-block: 1em 2em;
  color: var(--color-grayish-blue);
  font-weight: var(--fw-700);
  line-height: 2em;
}
