.reason {
  margin-block: 1em;
}

.reason__name {
  margin-block: 1em;
  font-weight: var(--fw-400);
  color: var(--color-dark-blue);
}

.reason__desc {
  font-size: 0.8rem;
  color: var(--color-grayish-blue);
  font-weight: var(--fw-400);
  line-height: 2em;
}
