.articles {
  display: flex;
  flex-direction: column;
  padding-block: 3em;
  background-color: var(--color-very-light-gray);
}
.articles__title {
  text-align: center;
  font-weight: var(--fw-400);
  font-size: 2rem;
  margin-block: 1em;
  color: var(--color-dark-blue);
}

.articles__list {
  display: flex;
  gap: 30px;
}

@media (min-width: 1440px) {
  .articles {
    padding-block: 4em;
  }

  .articles__title {
    text-align: left;
    max-width: 45%;
  }

  .articles__list {
    flex-direction: row;
  }
}
