@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  /* layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* primary colors */
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-line-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);

  /* neutral colors */
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);

  /* typography */
  --fs: 18px;
  --ff-poppins: "Public Sans", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs);
}

body {
  font-family: var(--ff-poppins);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-padding {
  padding-block: 1em;
  padding-inline: 1.5em;
}

.gradient-bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%,
    rgba(43, 183, 218, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%,
    rgba(43, 183, 218, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%,
    rgba(43, 183, 218, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2BB7DA', endColorstr='#31D35C', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%,
    rgba(43, 183, 218, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(0, 188, 212, 1) 100%,
    rgba(238, 130, 238, 1) 100%,
    rgba(43, 183, 218, 1) 100%
  );
}

@media (min-width: 1440px) {
  .section-padding {
    padding-inline: 8em;
    padding-block: 1em;
  }
}
