.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--color-white);
  padding: 1em;
  border-radius: 5px;
  z-index: 200;
  top: 70px;
  left: 50%;
  width: 95%;
  height: 300px;
  transform: translate(-50%, -500px);
  transition: all 0.3s ease-in-out;
}

.nav__menu[aria-expanded="true"] {
  transform: translate(-50%, 0);
}

.nav__item {
  margin-block: 0.5em;
  position: relative;
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: none;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}

.nav__item:hover::after {
  background-color: var(--color-line-green);
  width: 100%;
}

.nav__link {
  color: var(--color-grayish-blue);
  font-weight: var(--fw-700);
  transition: color 0.2s ease-in-out;
  font-size: 0.8rem;
}

.nav__link:hover {
  color: var(--color-dark-blue);
}

@media (min-width: 1440px) {
  .nav__menu,
  .nav__menu[aria-expanded="true"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    transform: translate(0, 0);
    position: unset;
  }

  .nav__item {
    margin-inline: 1em;
    position: relative;
  }

  .nav__item::after {
    bottom: -27px;
  }
}
